---
import SellersTable from '../../components/SellersTable.astro';
import Layout from '../../layouts/Layout.astro';

export const prerender = false;

const response = await fetch(`${new URL(Astro.request.url).origin}/api/sellers/list`);
const sellers = await response.json();
---

<Layout title="Vendedores de TechBazar">
  <h1>Vendedores de TechBazar</h1>
  <p>En esta página encontrarás una lista de los vendedores de TechBazar.</p>

  <form class="max-w-sm mx-auto my-6" method="POST" action="/api/sellers/create">
    <div class="mb-5">
      <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
        Nombre
        <input
          type="text"
          id="name"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Pepito"
          name="name"
          required
        />
      </label>
    </div>
    <div class="mb-5">
      <label for="avatar" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
        Avatar
        <input
          type="text"
          id="avatar"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="https://randomuser.me/api/example.jpg"
          name="avatar"
          required
        />
      </label>
    </div>
    <div class="mb-5">
      <label for="location" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
        Lugar
        <input
          type="text"
          id="location"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="España"
          name="location"
          required
        />
      </label>
    </div>
    <button
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-3 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    >
      Crear vendedor
    </button>
  </form>

  <SellersTable sellers={sellers} />
</Layout>
