<header class="bg-gray-800 h-20">
  <nav class="max-w-3xl mx-auto flex justify-between items-center h-full">
    <a href="/" class="text-xl font-bold">TechBazar</a>
    <ul class="flex gap-4">
      <li>
        <a href="/sellers" class="hover:underline">Sellers</a>
      </li>
      <li>
        <a href="/news" class="hover:underline">News</a>
      </li>
      <li>
        <a href="/blog" class="hover:underline">Blog</a>
      </li>
    </ul>
  </nav>
</header>
