---
import Layout from '../../layouts/Layout.astro';

export const prerender = false;

const { id } = Astro.params;
---

<Layout title={`Vendedor - ${id}`}>
  <h1>Página detalle del vendedor #{id}</h1>
</Layout>
