---
import Layout from '../../layouts/Layout.astro';

const { default: sellers } = await import('../../../data/sellers.json');
---

<Layout title="Vendedores de TechBazar">
  <h1>Vendedores de TechBazar - Sellers 2</h1>
  <p>En esta página encontrarás una lista de los vendedores de TechBazar.</p>

  <div class="w-full max-w-md p-4 bg-white rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
    <div class="flow-root">
      <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
        {
          sellers.map((seller) => (
            <li class="pt-3 pb-0 sm:pt-4">
              <div class="flex items-center">
                <div class="flex-shrink-0">
                  <img class="w-8 h-8 rounded-full" src={seller.avatar} />
                </div>
                <div class="flex-1 min-w-0 ms-4">
                  <p class="text-sm font-medium text-gray-900 truncate dark:text-white">{seller.name}</p>
                </div>
                <a
                  href={`/sellers2/${seller.id}`}
                  class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white"
                >
                  <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <>
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M4 9h8v-3.586a1 1 0 0 1 1.707 -.707l6.586 6.586a1 1 0 0 1 0 1.414l-6.586 6.586a1 1 0 0 1 -1.707 -.707v-3.586h-8a1 1 0 0 1 -1 -1v-4a1 1 0 0 1 1 -1z" />
                    </>
                  </svg>
                </a>
              </div>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</Layout>
